* {
  background-color: #252323;
}

.home-text {
  background: linear-gradient(
    180deg,
    #fff 0%,
    #dfdfdf 29.17%,
    #000 99.98%,
    #ef0690 99.99%,
    rgba(255, 0, 138, 0)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: bold;
}
